/* span{
    display: inline;
    display: inline-block;
    height: 300px;
    width: 300px;
    margin-left: 100px;
    margin-bottom: 60px;
    background-color: aqua
    
}
.kenny{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.first{
    background-image: url(../buju.jpg);
    margin-bottom: 50px;
}
.second{
    background-image: url(../davido.jpg);

}
.third{
    background-image: url(../gunna.jpg)

}
.fourth{
    background-image: url(../olamide.jpg);

}
.fifth{
    background-image: url(../rema.jpg);

}
.sixth{
    background-image: url(../lilbaby.jpg);

} */


.searchy{
    width: 570px;
    height: 50px;
    border: 2px solid black;
    display: flex;
    align-items: center;
}
.searchy input{
    width: 510px;
    height: 50px;
    border: none;
    outline: none;
    font-size: 27px;
}
.searchy i{
    margin-right: 12px;
    margin-left: 12px;
    cursor: pointer;
}
.home{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

}


